<section class="admin">
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>
    <div class="alert alert-success" ng-if="message">
        {{ message }}
    </div>
    <uib-accordion>
        <uib-accordion-group heading="Create test">
            <form method="POST" action="/api/create-test" enctype="multipart/form-data">
                <input type="text" placeholder="Title" class="form-control" name="title" required>
                <br>
                <textarea placeholder="Description" class="form-control" name="description" required></textarea>
                <br>
                <input type="text" placeholder="Easy col" class="form-control" name="easyCol" required>
                <br>
                <input type="text" placeholder="Middle col" class="form-control" name="middleCol" required>
                <br>
                <input type="text" placeholder="Hard col" class="form-control" name="hardCol" required>
                <br>
                <input type="text" placeholder="Easy time" class="form-control" name="easyTime" required>
                <br>
                <input type="text" placeholder="Middle time" class="form-control" name="middleTime" required>
                <br>
                <input type="text" placeholder="Hard time" class="form-control" name="hardTime" required>
                <br>
                <input type="file" name="img" required>
                <button class="btn btn-default">Create</button>
            </form>
        </uib-accordion-group>
        <uib-accordion-group heading="Edit test">
            <select class="form-control" ng-model="selected_data.edit_test">
                <option ng-repeat="(i, test) in tests" value="{{ i }}">{{ test.title }}</option>
            </select>
            <br>
            <button class="btn btn-default" ng-click="select_edit_test()">Edit</button>
            <br>
            <article ng-if="active.edit_test">
                <input type="text" placeholder="Title" class="form-control" ng-model="active.edit_test.title" required>
                <br>
                <textarea placeholder="Description" class="form-control" ng-model="active.edit_test.description" required></textarea>
                <br>
                <input type="text" placeholder="Easy col" class="form-control" ng-model="active.edit_test.easyCol" required>
                <br>
                <input type="text" placeholder="Middle col" class="form-control" ng-model="active.edit_test.middleCol" required>
                <br>
                <input type="text" placeholder="Hard col" class="form-control" ng-model="active.edit_test.hardCol" required>
                <br>
                <input type="text" placeholder="Easy time" class="form-control" ng-model="active.edit_test.easyTime" required>
                <br>
                <input type="text" placeholder="Middle time" class="form-control" ng-model="active.edit_test.middleTime" required>
                <br>
                <input type="text" placeholder="Hard time" class="form-control" ng-model="active.edit_test.hardTime" required>
                <br>
                <label>
                    <input type="checkbox" ng-model="active.edit_test.active"> Active
                </label>
                <br>
                <button class="btn btn-default" ng-click="send_edit_test()">Edit</button>
            </article>
        </uib-accordion-group>
        <uib-accordion-group heading="Image test">
            <select class="form-control" ng-model="selected_data.image_test">
                <option ng-repeat="(i, test) in tests" value="{{ i }}">{{ test.title }}</option>
            </select>
            <br>
            <button class="btn btn-default" ng-click="select_image_test()">Enter</button>
            <article ng-if="active.image_test">
                <form method="POST" action="/api/image-test" enctype="multipart/form-data">
                    <input type="hidden" name="test" value="{{ active.image_test._id }}" required>
                    <input type="file" name="img" required>
                    <br>
                    <button class="btn btn-default" ng-click="send_image()">Enter</button>
                </form>
            </article>
        </uib-accordion-group>
        <uib-accordion-group heading="Create question">
            <form name="active.new_question">
                <input type="text" placeholder="Question" ng-model="question_data.text" required class="form-control">
                <br>
                <label>
                    <input type="checkbox" ng-model="allow_code.create"> Allow code
                </label>
                <br>
                <textarea class="form-control" ng-model="question_data.code" ng-disabled="!allow_code.create"></textarea>
                <br>
                <input type="text" placeholder="Answer 1" ng-model="question_data.answer1" required class="form-control">
                <br>
                <input type="text" placeholder="Answer 2" ng-model="question_data.answer2" required class="form-control">
                <br>
                <input type="text" placeholder="Answer 3" ng-model="question_data.answer3" required class="form-control">
                <br>
                <input type="text" placeholder="Answer 4" ng-model="question_data.answer4" required class="form-control">
                <br>
                <select ng-model="question_data.true_answer" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <br>
                <select ng-model="question_data.complexity" class="form-control" required>
                    <option value="1">Easy</option>
                    <option value="2">Middle</option>
                    <option value="3">Hard</option>
                </select>
                <br>
                <select ng-model="question_data.test" class="form-control" required>
                    <option ng-repeat="test in tests" value="{{ test._id }}">{{ test.title }}</option>
                </select>
                <br>
            </form>
            <button class="btn btn-default" ng-click="send_create_quest()">Create</button>
        </uib-accordion-group>
        <uib-accordion-group heading="Edit question">
            <form name="active.edit_question">
                <select class="form-control" ng-model="selected_data.edit_quest">
                    <option ng-repeat="(i, quest) in questions" value="{{ i }}">{{ quest.text }}</option>
                </select>
                <br>
                <button class="btn btn-default" ng-click="select_edit_quest()">Enter</button>
                <br>
                <article ng-if="active.edit_quest">
                    <input type="text" placeholder="Question" ng-model="active.edit_quest.text" required class="form-control">
                    <br>
                    <label>
                        <input type="checkbox" ng-model="allow_code.edit"> Allow code
                    </label>
                    <br>
                    <textarea class="form-control" ng-model="active.edit_quest.code" ng-disabled="!allow_code.edit"></textarea>
                    <br>
                    <input type="text" placeholder="Answer 1" ng-model="active.edit_quest.answer1" required class="form-control">
                    <br>
                    <input type="text" placeholder="Answer 2" ng-model="active.edit_quest.answer2" required class="form-control">
                    <br>
                    <input type="text" placeholder="Answer 3" ng-model="active.edit_quest.answer3" required class="form-control">
                    <br>
                    <input type="text" placeholder="Answer 4" ng-model="active.edit_quest.answer4" required class="form-control">
                    <br>
                    <select ng-model="active.edit_quest.true_answer" class="form-control" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <br>
                    <select ng-model="active.edit_quest.complexity" class="form-control" required>
                        <option value="1">Easy</option>
                        <option value="2">Middle</option>
                        <option value="3">Hard</option>
                    </select>
                    <br>
                    <select ng-model="active.edit_quest.test" class="form-control" required>
                        <option ng-repeat="test in tests" value="{{ test._id }}">{{ test.title }}</option>
                    </select>
                </form>
                <br>
                <button class="btn btn-default" ng-click="send_edit_quest()">Edit</button>
            </article>
        </uib-accordion-group>
    </uib-accordion>
</section>
