<section class="cabinet">
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>
    <uib-tabset active="activeJustified" justified="true">
        <uib-tab index="0" heading="Not received">
            <article class="cabinet_tab">
                <h3 ng-if="!tests.unreceived.length" class="center-container">Empty</h3>
                <article class="row">
                    <article class="col-md-4" ng-repeat="test in tests.unreceived">
                        <test-card test="test"></test-card>
                    </article>
                </article>
            </article>
        </uib-tab>
        <uib-tab index="1" heading="Received">
            <article class="cabinet_tab">
                <h3 ng-if="!tests.received.length" class="center-container">Empty</h3>
                <article class="row">
                    <article class="col-md-4" ng-repeat="test in tests.received">
                        <test-card test="test"></test-card>
                    </article>
                </article>
            </article>
        </uib-tab>
        <uib-tab index="2" heading="Available">
            <article class="cabinet_tab">
                <h3 ng-if="!tests.available.length" class="center-container">Empty</h3>
                <article class="row">
                    <article class="col-md-4" ng-repeat="test in tests.available">
                        <test-card test="test"></test-card>
                    </article>
                </article>
            </article>
        </uib-tab>
        <uib-tab index="3" heading="Unavailable">
            <article class="cabinet_tab">
                <h3 ng-if="!tests.unavailable.length" class="center-container">Empty</h3>
                <article class="row">
                    <article class="col-md-4" ng-repeat="test in tests.unavailable">
                        <test-card test="test"></test-card>
                    </article>
                </article>
            </article>
        </uib-tab>
        <uib-tab index="4" heading="Certificates">
            <article class="cabinet_tab">
                <ul class="certificates_link">
                    <li ng-repeat="cert in certificates"><a ui-sref="certificate({cert: cert})">{{ cert.title }}</a></li>
                </ul>
            </article>
        </uib-tab>
        <uib-tab index="5" heading="Attempts">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Start</th>
                        <th>Test</th>
                        <th>Answers</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(i, solution) in solutions">
                        <th>{{ i + 1 }}</th>
                        <td>{{ solution.start | date }}</td>
                        <td>{{ tests.all[solution.test] }}</td>
                        <td>{{ solution.result || 0 }}/{{ solution.questions.length }}</td>
                        <td ng-if="solution.certify"><img src="/src/images/main/sp_t.png" alt="sp"></td>
                        <td ng-if="!solution.certify"><img src="/src/images/main/sp_f.png" alt="sp"></td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="6" heading="Orders">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Test</th>
                        <th>Date</th>
                        <th>Paid</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(i, order) in orders">
                        <th>{{ i + 1 }}</th>
                        <td>{{ tests.all[order.test] }}</td>
                        <td>{{ order.date | date }}</td>
                        <td ng-if="order.paid"><img src="/src/images/main/sp_t.png" alt="sp"></td>
                        <td ng-if="!order.paid"><img src="/src/images/main/sp_f.png" alt="sp"></td>
                        <td>{{ statuses[order.status] }}</td>
                        <td>{{ order.first }} {{ order.last }}</td>
                        <td>{{ order.address.country_code }} {{ order.address.postal_code }} 
                            {{ order.address.state }} {{ order.address.city }} {{ order.address.line1 }}</td>
                        <td>{{ order.telephone.country }} {{ order.telephone.national }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-click="order_open()">Order the certificate (90$)</button>
        </uib-tab>
    </uib-tabset>
</section>
