<section class="finish">
    <h2 ng-class="{{ class }}">{{ title }}</h2>
    <article class="statistic">
        <p><b>Your correct answers/All answers:</b> {{ result.answers }}/{{ result.all }}</p>
        <div class="progress">
            <div class="progress-bar {{ bar_class }}" style="width: {{ width_res }}%">{{ width_res }}%</div>
        </div>
        <p><b>Minimum correct answers/All answers:</b> {{ result.target }}/{{ result.all }}</p>
        <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: {{ width_need }}%">{{ width_need }}%</div>
        </div>
    </article>
    <a ng-if="result.success" ui-sref="check_certify({certId: result.certificate})">
        <button class="btn btn-primary">View certificate</button>
    </a>
</section>