<section class="test_full">
    <h2>{{ test_data.title }}</h2>
    <article class="row">
        <article class="col-md-6 left">
            <img ng-src="{{ '/src/images/uploaded/' + test_data.img }}" alt="test_img">
        </article>
        <article class="col-md-6 right">
            {{ test_data.description }}
            <ul class="subjects">
                <li ng-repeat="subject in test_data.subjects">{{ subject }}</li>
            </ul>
        </article>
    </article>
    <article class="start_block">
        <button class="btn btn-primary">Start</button>
        <article class="alert alert-success">Incorrect test</article>
    </article>
</section>
