<section class="test_full">
    <h2>{{ test_data.title }}</h2>
    <article class="row">
        <article class="col-md-6 left">
            <img ng-src="{{ '/src/images/uploaded/' + test_data.img }}" alt="test_img">
        </article>
        <article class="col-md-6 right">
            {{ test_data.description }}
            <ul class="subjects">
                <li ng-repeat="subject in test_data.subjects">{{ subject }}</li>
            </ul>
        </article>
    </article>
    <article class="start_block">
        <a ui-sref="check_start({testId: test_data._id})">
            <button class="btn btn-primary" ng-disabled="response.status">Start</button>
        </a>
        <article ng-if="alert" class="alert {{ alert_type }}">
            <span ng-if="response.status == 1">
                Server error
            </span>
            <span ng-if="response.status == 2">
                Incorrect test
            </span>
            <span ng-if="response.status == 3">
                You must be logged
            </span>
            <span ng-if="response.status == 4">
                Test not found
            </span>
            <span ng-if="response.status == 5">
                You already have this certificate
            </span>
            <span ng-if="response.status == 6">
                Next attempt: {{ response.next }}
            </span>
            <span ng-if="error">
                Server error
            </span>
        </article>
    </article>
</section>
