<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>
    <form name="log_form">
        <input type="text" class="form-control" placeholder="Mail" ng-model="log_data.username" required><br>
        <input type="password" class="form-control" placeholder="Password" ng-model="log_data.password" required>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="send_log()">Login</button>
    <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>
