<div class="modal-header">
    <h3 class="modal-title">Support</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>
    <form name="report_form">
        <input type="text" class="form-control" placeholder="Your contact address" ng-model="report_data.addr" ng-if="!logged" required>
        <br ng-if="!logged">
        <textarea class="form-control" placeholder="Text of meassage..." ng-model="report_data.text" required></textarea>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
    <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>
