@back: #b5b5b5;
@main: #2C3E50;

body {
    background: @back;
}
textarea {
    resize: none;
}
a:focus {
    outline: none;
}
th {
    font-weight: bold;
}
.main {
    width: 980px;
    margin: 15px auto;
    padding: 10px;
    padding-top: 0;
    border-radius: 4px;
    background: #e6e6e6;
    margin-bottom: 5px;
    .navbar {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.footer {
    width: 980px;
    margin: auto;
    text-align: right;
    a {
        cursor: pointer;
        color: @main;
    }
}

.test_full {
    .left img {
        width: 100%;
    }
    .right {
        text-align: right;
        .card_text {
            font-size: 16px;
            padding-bottom: 15px;
            text-align: left;
        }
        .subjects {
            list-style-type: circle;
            width: 200px;
            text-align: left;
            float: right;
        }
    }
    .start_block {
        width: 300px;
        margin: 15px auto;
        text-align: center;
        button {
            margin-bottom: 10px;
        }
    }
}

.cabinet {
    .cert-btn {
        float: right;
    }
    &_tab {
        padding: 10px;
        padding-top: 15px;
    }
    .nav-tabs {
        border-bottom: 2px solid white;
    }
    .certificates_link li a {
        font-size: 18px;
        color: @main;
        cursor: pointer;
    }
}

.admin {
    .report {
        border: 1px solid black;
        padding: 10px;
        margin: 10px 0;
        p {
            font-size: 16px;
        }
    }
}

.start {
    text-align: center;
    img {
        max-width: 750px;
        margin-bottom: 15px;
    }
    .data_list {
        font-size: 18px;
    }
}

.quest {
    &_num {
        float: right;
        font-size: 20px;
        font-weight: bold;
    }
    &_time {
        float: left;
        font-size: 18px;
        font-weight: bold;
    }
    &_code {
        color: black;
        background: white;
        white-space: pre-wrap;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        line-height: 1em;
        font-family: monospace;
    }
    &_support {
        text-align: right;
        a {
            cursor: pointer;
            color: grey;
        }
    }
}

.not_block {
    display: inline-block;
}
.nav-button {
    cursor: pointer;
}
.center-container {
    text-align: center;
}
.test_card {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    text-align: center;
    img {
        width: 200px;
    }
}
.load {
    text-align: center;
    padding: 15px;
}
.certificate {
    #cert_canvas {
        background: @back;
    }
    .address {
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }
}

.clearfix {
    clear: both;
}
