@back: #b5b5b5;

body {
    background: @back;
}
a:focus {
    outline: none;
}
.main {
    width: 980px;
    margin: 15px auto;
    padding: 10px;
    padding-top: 0;
    border-radius: 4px;
    background: #e6e6e6;
    .navbar {
        margin-left: -10px;
        margin-right: -10px;
    }
}
.not_block {
    display: inline-block;
}
