<div style="">
    <div style="background: #2C3E50; height: 50px;">
        <b style="font-size: 20px; font-weight: bold; color: #b5b5b5;">DevCertified</b>
    </div>
    <div style="background: #b5b5b5; min-height: 300px;">
        <h1>Confirm your mail</h1>
        <p>Please confirm your e-mail. Follow this link: </p> 
        <a href="http://devcertified.com/#/certificate/<% _id %>">http://devcertified.com/#/certificate/<% _id %></a>
    </div>
    <div style="background: #2C3E50; height: 50px;"></div>
</div>