<div style="">
    <div style="background: #2C3E50; height: 50px;">
        <b style="font-size: 20px; font-weight: bold; color: #b5b5b5;">DevCertified</b>
    </div>
    <div style="background: #b5b5b5; min-height: 300px;">
        <h1>Password change</h1>
        <p>You need to confirm the change of password. Follow this link:</p>
        <a href="http://devcertified.com/#/change_confirm/<% _id %">http://devcertified.com/#/change_confirm/<% _id %></a>
        <p>If you did not change your password, ignore this letter.</p>
    </div>
    <div style="background: #2C3E50; height: 50px;"></div>
</div>