<div style="">
    <div style="background: #2C3E50; height: 50px;">
        <b style="font-size: 20px; font-weight: bold; color: #b5b5b5; lin">DevCertified</b>
    </div>
    <div style="background: #b5b5b5; min-height: 300px;">
        <h1>Success registration!</h1>
        <p>You have successfully signed up on DevCertified! Now you can perform tests and get a certificates.</p>
        <b style="font-weight: bold;">Your mail: </b><%  %>
        <b style="font-weight: bold;">Your password: </b><%  %>
    </div>
    <div style="background: #2C3E50; height: 50px;"></div>
</div>